In [1]:
%load_ext sql
%sql postgresql://domin:domin@localhost/domin

'Connected: domin@domin'

In [2]:
! psql -c "\i hsm.dump" > /dev/null
! psql -c "\d"

          List of relations
 Schema |    Name     | Type  | Owner
--------+-------------+-------+-------
 public | badges      | table | domin
 public | comments    | table | domin
 public | posthistory | table | domin
 public | postlinks   | table | domin
 public | posts       | table | domin
 public | tags        | table | domin
 public | users       | table | domin
 public | votes       | table | domin
(8 rows)

In [ ]:
! for value in badges comments posthistory postlinks posts tags users votes ; do psql -c "\d $value"; done

## Zadanie 1 (2 pkt)
Na podstawie tabeli `badges` oblicz liczbę postów napisanych przez
posiadaczy różnych odznak. Dla każdej nazwy odznaki dany post powinieneś policzyć tyle razy, ile tego typu odznak posiada jego właściciel (grupowanie domyślnie
działa w ten własnie sposób). Wynikiem zapytania ma być jedna tabela z dwiema
kolumnami o nazwach odpowiednio `odznaka` i `liczba`. Wyniki posortuj malejąco
względem kolumny `liczba`.

In [3]:
%%sql
SELECT b.name AS odznaka,
       COUNT(p.id) AS liczba
FROM badges b
JOIN posts p ON b.userid = p.owneruserid
GROUP BY (b.name)
ORDER BY liczba DESC;

 * postgresql://domin:***@localhost/domin
74 rows affected.

[('Nice Answer', 105713),
 ('Enlightened', 51576),
 ('Nice Question', 21624),
 ('Yearling', 17687),
 ('Custodian', 13437),
 ('Popular Question', 12352),
 ('Good Answer', 7415),
 ('Supporter', 5415),
 ('Student', 5402),
 ('Editor', 4916),
 ('Teacher', 4658),
 ('Good Question', 4273),
 ('Scholar', 4232),
 ('Commentator', 3974),
 ('Critic', 3677),
 ('Autobiographer', 3493),
 ('mathematics', 3267),
 ('Notable Question', 3119),
 ('Revival', 3080),
 ('Enthusiast', 2838),
 ('Curious', 2819),
 ('physics', 2627),
 ('Citizen Patrol', 2622),
 ('Organizer', 2616),
 ('Explainer', 2120),
 ('Guru', 2022),
 ('Necromancer', 2008),
 ('Fanatic', 1982),
 ('Beta', 1889),
 ('Civic Duty', 1711),
 ('Excavator', 1690),
 ('Mortarboard', 1639),
 ('Self-Learner', 1543),
 ('terminology', 1493),
 ('Talkative', 1439),
 ('Cleanup', 1405),
 ('Informed', 1387),
 ('mathematicians', 1371),
 ('biographical-details', 1371),
 ('Pundit', 1343),
 ('Quorum', 1318),
 ('philosophy-of-science', 1158),
 ('discoveries', 1158),
 ('astronomy', 1158),
 ('reference-request', 1158),
 ('calculus', 1158),
 ('Precognitive', 1087),
 ('Lifejacket', 1063),
 ('Taxonomist', 889),
 ('notation', 832),
 ('Strunk & White', 765),
 ('Famous Question', 714),
 ('Electorate', 701),
 ('Refiner', 619),
 ('Favorite Question', 619),
 ('Tumbleweed', 553),
 ('Tag Editor', 455),
 ('Promoter', 393),
 ('Announcer', 276),
 ('Proofreader', 208),
 ('Convention', 201),
 ('Benefactor', 193),
 ('Disciplined', 191),
 ('Suffrage', 189),
 ('Inquisitive', 185),
 ('Constable', 160),
 ('Reviewer', 157),
 ('Vox Populi', 148),
 ('Synonymizer', 146),
 ('Peer Pressure', 140),
 ('Investor', 130),
 ('Deputy', 71),
 ('Booster', 24),
 ('Altruist', 6)]

## Zadanie 2  (2 pkt) 
„Słowo” to maksymalny, spójny podciąg znaków alfanumerycznych
(`\w`) w tekście komentarza. Znajdź w tekstach komentarzy wszystkie słowa, które składają się z trzech lub więcej znaków i powtarzają się w jakimś komentarzu oddzielone niepustym ciągiem białych znaków (`\s`). Usuń powtórzenia, wynik
posortuj alfabetycznie. (Uwaga: ciąg `{the}` nie występuje w żadnym komentarzu
w bazie, nie jest nawet słowem zgodnie z powyższą definicją.) *Wskazówka: slajdy
do wykładu o triggerach.*

In [4]:
%%sql
CREATE OR REPLACE FUNCTION duplicates(INPUT text) RETURNS SETOF text AS $$
BEGIN
    RETURN QUERY
        SELECT match[1] FROM
        (SELECT DISTINCT regexp_matches(input, '\y(\w{3,})\s+\1\y','g') as match) A;
        RETURN;
END $$ LANGUAGE PLPGSQL;

SELECT DISTINCT duplicates(c.text)
FROM comments c
ORDER BY duplicates;

 * postgresql://domin:***@localhost/domin
Done.
22 rows affected.

[('about',),
 ('and',),
 ('any',),
 ('are',),
 ('Erectus',),
 ('found',),
 ('had',),
 ('hard',),
 ('how',),
 ('many',),
 ('more',),
 ('much',),
 ('one',),
 ('other',),
 ('pee',),
 ('really',),
 ('that',),
 ('the',),
 ('two',),
 ('very',),
 ('with',),
 ('yes',)]

## Zadanie 3 (4 pkt)
* (2 pkt) Chcielibyśmy dodać więz klucza obcego tak, aby pole `owneruserid` tabeli `posts` wskazywało na `id` tabeli `users`. Stwórz odpowiedni ciąg poleceń SQL (w tym polecenie utworzenia tego klucza obcego). Polecenia uruchomione w podanej przez Ciebie kolejności na niezmodyfikowanej bazie sprawdzianowej nie powinny zwracać żadnych błędów.

In [5]:
%%sql
ALTER TABLE users ADD CONSTRAINT id_unique UNIQUE (id);

ALTER TABLE posts ADD CONSTRAINT user_exists
FOREIGN KEY (owneruserid) REFERENCES users(id);

 * postgresql://domin:***@localhost/domin
Done.
Done.

[]

* (2 pkt) Zauważ, że w tabeli `posts` jest wiele więzów z wartością `NULL` na polu owneruserid. Rozważ, czy ma sens oznaczenie tego pola jako `NOT NULL`. Wymień 2 rozwiązania pozwalające na usunięcie wartości `NULL` z tej kolumny w taki sposób, aby nie utracić informacji, które są w bazie. Wskaż krótko wady i zalety Twoich rozwiązań w porównaniu do pozostawienia wartości `NULL`. Która z tych 3 możliwości Twoim zdaniem pasuje tutaj najlepiej?

Wyobrażam sobie, że wartość NULL pola owneruserid może oznaczać, że konto
autora postu zostało usunięte albo post został przez niego wydziedziczony,
wtedy oznaczenie go na NOT NULL nie jest zbyt sensowne.

1. Można stworzyć nowego użytkownika o nazwie "deleted" i przypisac mu
   wszystkie posty z owneruserid NULL
2. Ustalamy wszystkim takim postom sztuczne owneruserid na jakąś specjalną
   wartość, np. 0

zalety: nie musimy się martwić że autor będzie NULLem,
        piszemy mniej kodu, który zachowuje się bardziej intuicyjnie
        
wady: mamy sztucznego użytkownika