In [1]:
%load_ext sql
%sql postgresql://domin:domin@localhost/domin

'Connected: domin@domin'

In [2]:
! psql -c "\i hsm.dump" > /dev/null
! psql -c "\d"

             List of relations
 Schema |       Name        | Type  | Owner
--------+-------------------+-------+-------
 public | badges            | table | domin
 public | comments          | table | domin
 public | grupa             | table | domin
 public | posthistory       | table | domin
 public | postlinks         | table | domin
 public | posts             | table | domin
 public | przedmiot         | table | domin
 public | przedmiot_semestr | table | domin
 public | semestr           | table | domin
 public | tags              | table | domin
 public | users             | table | domin
 public | uzytkownik        | table | domin
 public | votes             | table | domin
 public | wybor             | table | domin
(14 rows)

In [3]:
! for value in badges comments posthistory postlinks posts tags users votes ; do psql -c "\d $value"; done

                          Table "public.badges"
  Column  |            Type             | Collation | Nullable | Default
----------+-----------------------------+-----------+----------+---------
 id       | integer                     |           |          |
 userid   | integer                     |           |          |
 class    | integer                     |           |          |
 name     | text                        |           |          |
 date     | timestamp without time zone |           |          |
 tagbased | smallint                    |           |          |

                            Table "public.comments"
     Column      |            Type             | Collation | Nullable | Default
-----------------+-----------------------------+-----------+----------+---------
 id              | integer                     |           |          |
 postid          | integer                     |           |          |
 score           | integer                     |           |          |
 text            | text                        |           |          |
 creationdate    | timestamp without time zone |           |          |
 userid          | integer                     |           |          |
 userdisplayname | text                        |           |          |

                            Table "public.posthistory"
      Column       |            Type             | Collation | Nullable | Default
-------------------+-----------------------------+-----------+----------+---------
 id                | integer                     |           |          |
 posthistorytypeid | integer                     |           |          |
 postid            | integer                     |           |          |
 revisionguid      | text                        |           |          |
 creationdate      | timestamp without time zone |           |          |
 userid            | integer                     |           |          |
 userdisplayname   | text                        |           |          |
 comment           | text                        |           |          |
 text              | text                        |           |          |

                           Table "public.postlinks"
     Column     |            Type             | Collation | Nullable | Default
----------------+-----------------------------+-----------+----------+---------
 id             | integer                     |           |          |
 creationdate   | timestamp without time zone |           |          |
 postid         | integer                     |           |          |
 relatedpostid  | integer                     |           |          |
 postlinktypeid | integer                     |           |          |
 linktypeid     | integer                     |           |          |

                                 Table "public.posts"
        Column         |            Type             | Collation | Nullable | Default
-----------------------+-----------------------------+-----------+----------+---------
 id                    | integer                     |           |          |
 posttypeid            | integer                     |           |          |
 parentid              | integer                     |           |          |
 acceptedanswerid      | integer                     |           |          |
 creationdate          | timestamp without time zone |           |          |
 score                 | integer                     |           |          |
 viewcount             | integer                     |           |          |
 body                  | text                        |           |          |
 owneruserid           | integer                     |           |          |
 ownerdisplayname      | text                        |           |          |
 lasteditoruserid      | integer                     |           |          |
 lasteditordisplayname | text                        |           |          |
 lasteditdate          | timestamp without time zone |           |          |
 lastactivitydate      | timestamp without time zone |           |          |
 communityowneddate    | timestamp without time zone |           |          |
 title                 | text                        |           |          |
 tags                  | text                        |           |          |
 answercount           | integer                     |           |          |
 commentcount          | integer                     |           |          |
 favoritecount         | integer                     |           |          |
 closeddate            | timestamp without time zone |           |          |

                   Table "public.tags"
    Column     |  Type   | Collation | Nullable | Default
---------------+---------+-----------+----------+---------
 id            | integer |           |          |
 tagname       | text    |           |          |
 count         | integer |           |          |
 excerptpostid | integer |           |          |
 wikipostid    | integer |           |          |

                              Table "public.users"
     Column      |            Type             | Collation | Nullable | Default
-----------------+-----------------------------+-----------+----------+---------
 id              | integer                     |           |          |
 reputation      | integer                     |           |          |
 creationdate    | timestamp without time zone |           |          |
 displayname     | text                        |           |          |
 lastaccessdate  | timestamp without time zone |           |          |
 websiteurl      | text                        |           |          |
 location        | text                        |           |          |
 age             | integer                     |           |          |
 aboutme         | text                        |           |          |
 views           | integer                     |           |          |
 upvotes         | integer                     |           |          |
 downvotes       | integer                     |           |          |
 accountid       | integer                     |           |          |
 profileimageurl | text                        |           |          |

                            Table "public.votes"
    Column    |            Type             | Collation | Nullable | Default
--------------+-----------------------------+-----------+----------+---------
 id           | integer                     |           |          |
 postid       | integer                     |           |          |
 userid       | integer                     |           |          |
 votetypeid   | integer                     |           |          |
 creationdate | timestamp without time zone |           |          |
 bountyamount | integer                     |           |          |

## Zadanie 1 (2 pkt.) 
Przyjmijmy, że post *p* jest duplikatem jakiegoś posta *r* jeśli w tabeli `postlinks` istnieje wpis z `postid` równym `id` posta *p*, `relatedpostid` równym
`id` posta *r* oraz z `linktypeid` wynoszącym 3.

Dla każdego użytkownika wypisz jego `id, displayname, reputation` oraz sumaryczną liczbę jego postów, które są duplikatami innych postów. Uwzględnij wyłącznie użytkowników, dla których powyższa liczba jest większa od zera.
Wyniki posortuj w pierwszej kolejności malejąco względem ostatniej kolumny (tj.
wg sumarycznej liczby jego postów, które są duplikatami innych postów), a następnie alfabetycznie wg drugiej kolumny (tj. displayname użytkownika). Wypisz
nie więcej niż pierwsze 20 wyników.

In [4]:
%%sql
SELECT u.id, u.displayname, u.reputation, COUNT(DISTINCT p.id) AS duplicated_posts FROM
    users u
    JOIN posts p ON u.id = p.owneruserid
    JOIN postlinks pl ON p.id = pl.postid
WHERE
    pl.linktypeid = 3
    AND pl.relatedpostid IS NOT NULL
GROUP BY (u.id, u.displayname, u.reputation)
ORDER BY 4 desc, u.displayname
LIMIT 20;

 * postgresql://domin:***@localhost/domin
20 rows affected.

[(232, 'Geremia', 4301, 3),
 (2855, 'Bassam Karzeddin', 298, 2),
 (1678, 'Giuseppe', 183, 2),
 (5177, 'Khalid T. Salem', 121, 2),
 (3219, 'TheStrangeQuark', 215, 2),
 (3170, 'user85798', 1, 2),
 (7380, 'AeroSun', 111, 1),
 (11130, 'Arlynn', 17, 1),
 (3915, 'Arnold Neumaier', 285, 1),
 (5860, 'asmgx', 149, 1),
 (3129, 'Brandon Thomas Van Over', 289, 1),
 (1792, 'charlotte', 181, 1),
 (2310, 'copper', 867, 1),
 (10791, 'Devansh Mittal', 131, 1),
 (2546, 'DrZ214', 631, 1),
 (10764, 'Fizikus', 1, 1),
 (9816, 'guest92929', 41, 1),
 (3407, 'Igor Kotelnikov', 151, 1),
 (7822, 'K Math', 101, 1),
 (2891, 'Kushal Bhuyan', 2027, 1)]

## Zadanie 2 (2 pkt.)
Dla każdego użytkownika posiadającego odznakę *Fanatic* (wg `badges`)
wypisz jego `id, displayname, reputation` oraz sumaryczną liczbę komentarzy
do jego postów oraz średni `score` tych komentarzy.

Zostaw tylko te wyniki, dla
których sumaryczna liczba komentarzy nie przekracza 100.

Wyniki posortuj w pierwszej kolejności malejąco względem przedostatniej kolumny
(tzn. sumarycznej liczby komentarzy), a następnie alfabetycznie wg drugiej kolumny (tj. `displayname` użytkownika). Wypisz nie więcej niż pierwsze 20 wyników.

In [5]:
%%sql
SELECT u.id, u.displayname, u.reputation, COUNT(c.id), AVG(c.score) FROM
    users u
    JOIN badges b   ON u.id = b.userid
    LEFT JOIN posts p    ON u.id = p.owneruserid 
    LEFT JOIN comments c ON p.id = c.postid
WHERE
    b.name = 'Fanatic'
GROUP BY (u.id, u.displayname, u.reputation)
HAVING COUNT(c.id) <= 100
ORDER BY 4 desc, 2
LIMIT 20;

 * postgresql://domin:***@localhost/domin
20 rows affected.

[(3322, 'Otto', 1, 92, Decimal('0.53260869565217391304')),
 (5989, 'José Carlos Santos', 3448, 86, Decimal('0.56976744186046511628')),
 (26, 'Danu', 3404, 52, Decimal('0.67307692307692307692')),
 (3821, 'Peter Diehr', 645, 36, Decimal('0.16666666666666666667')),
 (110, 'J. W. Perry', 1150, 27, Decimal('0.51851851851851851852')),
 (58, 'Logan M', 2466, 26, Decimal('1.0769230769230769')),
 (2905, 'vonbrand', 435, 23, Decimal('0.78260869565217391304')),
 (72, 'Joel Reyes Noche', 706, 22, Decimal('0.72727272727272727273')),
 (217, 'peterh - Reinstate Monica', 727, 22, Decimal('0.54545454545454545455')),
 (13, 'Wrzlprmft', 861, 17, Decimal('0.47058823529411764706')),
 (7364, 'Bence Mélykúti', 523, 15, Decimal('2.0000000000000000')),
 (2672, 'WBT', 201, 15, Decimal('1.2000000000000000')),
 (9677, 'Frank Hubeny', 229, 5, Decimal('0.20000000000000000000')),
 (4433, 'George Law', 191, 4, Decimal('0E-20')),
 (10368, 'John Omielan', 101, 4, Decimal('1.7500000000000000')),
 (2277, 'Glorfindel', 194, 1, Decimal('0E-20')),
 (2553, 'Omry', 101, 1, Decimal('0E-20')),
 (182, 'ouflak', 243, 1, Decimal('0E-20')),
 (2487, 'vallismortis', 133, 1, Decimal('1.00000000000000000000')),
 (6928, 'A J 9', 101, 0, None)]

## Zadanie 3 (2 pkt.)
* Spraw aby atrybut `id` tabeli `users` był jej kluczem głównym.
* Dodaj klucz obcy, który wymusi aby w tabeli `badges` wszystkie niepuste wartości `userid` występowały jako `id` w tabeli `users`.
* Usuń kolumnę `viewcount` tabeli `posts`.
* Usuń wszystkie krotki z tabeli `posts` takie, że ich `body` jest pustym napisem lub *nullem*.

In [6]:
%%sql
ALTER TABLE users ADD PRIMARY KEY (id);
ALTER TABLE badges ADD FOREIGN KEY (userid) REFERENCES users(id);
ALTER TABLE posts DROP COLUMN viewcount;
DELETE FROM posts p WHERE p.body = '' OR p.body IS NULL;

 * postgresql://domin:***@localhost/domin
Done.
Done.
Done.
46 rows affected.

[]

## Zadanie 4 (2 pkt.) 
Przepisz wszystkie komentarze z tabeli `comments` do tabeli `posts`
dbając o następujące szczegóły. Nie zmieniaj zawartości tabeli `comments` ani krotek
z obecnego stanu tabeli `posts`. 

Dla każdego przepisywanego komentarza
* zadbaj aby jego `id` było unikalne (a w szczególności różne od `id` wszystkich
dotychczasowych postów) - w tym celu wykorzystaj odpowiednio zdefiniowaną
sekwencję, powiąż tę sekwencję z kolumną `posts.id`,
* ustaw `posttypeid` na $3$, a `parentid` na obecny `postid`,
* przepisz `userid` na `owneruserid`,
* przepisz `text` na `body`,
* przepisz bez zmian `score` oraz `creationdate`.
Pozostałym atrybutom ustaw wartość $NULL$.

In [7]:
%%sql
CREATE SEQUENCE posts_id_seq OWNED BY posts.id;
ALTER TABLE posts ALTER COLUMN id SET DEFAULT nextval('posts_id_seq');
SELECT setval('posts_id_seq', (SELECT MAX(id) FROM posts));

INSERT INTO posts(posttypeid, parentid, owneruserid, body, score, creationdate)
SELECT                     3,   postid,      userid, text, score, creationdate
FROM comments;

 * postgresql://domin:***@localhost/domin
Done.
Done.
1 rows affected.
12988 rows affected.

[]