In [1]:
%load_ext sql
%sql postgresql://domin:domin@localhost/domin

'Connected: domin@domin'

In [2]:
! psql -c "\i hsm.dump" > /dev/null
! psql -c "\d"

          List of relations
 Schema |    Name     | Type  | Owner
--------+-------------+-------+-------
 public | badges      | table | domin
 public | comments    | table | domin
 public | posthistory | table | domin
 public | postlinks   | table | domin
 public | posts       | table | domin
 public | tags        | table | domin
 public | users       | table | domin
 public | votes       | table | domin
(8 rows)

In [3]:
! for value in badges comments posthistory postlinks posts tags users votes ; do psql -c "\d $value"; done

                          Table "public.badges"
  Column  |            Type             | Collation | Nullable | Default
----------+-----------------------------+-----------+----------+---------
 id       | integer                     |           |          |
 userid   | integer                     |           |          |
 class    | integer                     |           |          |
 name     | text                        |           |          |
 date     | timestamp without time zone |           |          |
 tagbased | smallint                    |           |          |

                            Table "public.comments"
     Column      |            Type             | Collation | Nullable | Default
-----------------+-----------------------------+-----------+----------+---------
 id              | integer                     |           |          |
 postid          | integer                     |           |          |
 score           | integer                     |           |          |
 text            | text                        |           |          |
 creationdate    | timestamp without time zone |           |          |
 userid          | integer                     |           |          |
 userdisplayname | text                        |           |          |

                            Table "public.posthistory"
      Column       |            Type             | Collation | Nullable | Default
-------------------+-----------------------------+-----------+----------+---------
 id                | integer                     |           |          |
 posthistorytypeid | integer                     |           |          |
 postid            | integer                     |           |          |
 revisionguid      | text                        |           |          |
 creationdate      | timestamp without time zone |           |          |
 userid            | integer                     |           |          |
 userdisplayname   | text                        |           |          |
 comment           | text                        |           |          |
 text              | text                        |           |          |

                           Table "public.postlinks"
     Column     |            Type             | Collation | Nullable | Default
----------------+-----------------------------+-----------+----------+---------
 id             | integer                     |           |          |
 creationdate   | timestamp without time zone |           |          |
 postid         | integer                     |           |          |
 relatedpostid  | integer                     |           |          |
 postlinktypeid | integer                     |           |          |
 linktypeid     | integer                     |           |          |

                                 Table "public.posts"
        Column         |            Type             | Collation | Nullable | Default
-----------------------+-----------------------------+-----------+----------+---------
 id                    | integer                     |           |          |
 posttypeid            | integer                     |           |          |
 parentid              | integer                     |           |          |
 acceptedanswerid      | integer                     |           |          |
 creationdate          | timestamp without time zone |           |          |
 score                 | integer                     |           |          |
 viewcount             | integer                     |           |          |
 body                  | text                        |           |          |
 owneruserid           | integer                     |           |          |
 ownerdisplayname      | text                        |           |          |
 lasteditoruserid      | integer                     |           |          |
 lasteditordisplayname | text                        |           |          |
 lasteditdate          | timestamp without time zone |           |          |
 lastactivitydate      | timestamp without time zone |           |          |
 communityowneddate    | timestamp without time zone |           |          |
 title                 | text                        |           |          |
 tags                  | text                        |           |          |
 answercount           | integer                     |           |          |
 commentcount          | integer                     |           |          |
 favoritecount         | integer                     |           |          |
 closeddate            | timestamp without time zone |           |          |

                   Table "public.tags"
    Column     |  Type   | Collation | Nullable | Default
---------------+---------+-----------+----------+---------
 id            | integer |           |          |
 tagname       | text    |           |          |
 count         | integer |           |          |
 excerptpostid | integer |           |          |
 wikipostid    | integer |           |          |

                              Table "public.users"
     Column      |            Type             | Collation | Nullable | Default
-----------------+-----------------------------+-----------+----------+---------
 id              | integer                     |           |          |
 reputation      | integer                     |           |          |
 creationdate    | timestamp without time zone |           |          |
 displayname     | text                        |           |          |
 lastaccessdate  | timestamp without time zone |           |          |
 websiteurl      | text                        |           |          |
 location        | text                        |           |          |
 age             | integer                     |           |          |
 aboutme         | text                        |           |          |
 views           | integer                     |           |          |
 upvotes         | integer                     |           |          |
 downvotes       | integer                     |           |          |
 accountid       | integer                     |           |          |
 profileimageurl | text                        |           |          |

                            Table "public.votes"
    Column    |            Type             | Collation | Nullable | Default
--------------+-----------------------------+-----------+----------+---------
 id           | integer                     |           |          |
 postid       | integer                     |           |          |
 userid       | integer                     |           |          |
 votetypeid   | integer                     |           |          |
 creationdate | timestamp without time zone |           |          |
 bountyamount | integer                     |           |          |

## Zadanie 1
Wypisz wszystkie daty utworzenia postów, których treść (body) zawiera słowo *Turing*. Wyniki posortuj wg dat od najnowszych.

In [4]:
%%sql
SELECT p.creationdate FROM
    posts p
WHERE
    p.body LIKE '%Turing%'
ORDER BY p.creationdate desc;

 * postgresql://domin:***@localhost/domin
30 rows affected.

[(datetime.datetime(2019, 12, 14, 20, 19, 18, 903000),),
 (datetime.datetime(2019, 12, 13, 8, 48, 43, 810000),),
 (datetime.datetime(2019, 7, 11, 19, 44, 57, 910000),),
 (datetime.datetime(2019, 4, 19, 9, 45, 55, 903000),),
 (datetime.datetime(2019, 4, 8, 4, 25, 43, 203000),),
 (datetime.datetime(2019, 2, 11, 7, 40, 53, 910000),),
 (datetime.datetime(2019, 1, 4, 2, 37, 0, 190000),),
 (datetime.datetime(2018, 6, 25, 23, 48, 3, 920000),),
 (datetime.datetime(2018, 6, 3, 20, 33, 19, 830000),),
 (datetime.datetime(2018, 5, 18, 2, 1, 24, 943000),),
 (datetime.datetime(2018, 1, 6, 5, 59, 9, 910000),),
 (datetime.datetime(2018, 1, 6, 1, 37, 17, 290000),),
 (datetime.datetime(2017, 7, 21, 18, 46, 6, 423000),),
 (datetime.datetime(2017, 7, 17, 13, 58, 37, 843000),),
 (datetime.datetime(2017, 4, 14, 11, 46, 10, 237000),),
 (datetime.datetime(2017, 3, 27, 20, 42, 46, 27000),),
 (datetime.datetime(2017, 3, 27, 9, 11, 5, 843000),),
 (datetime.datetime(2017, 2, 28, 22, 25, 48, 760000),),
 (datetime.datetime(2016, 6, 13, 9, 14, 53, 883000),),
 (datetime.datetime(2016, 6, 13, 8, 14, 4, 707000),),
 (datetime.datetime(2015, 11, 10, 10, 18, 38, 297000),),
 (datetime.datetime(2015, 10, 18, 19, 56, 51, 310000),),
 (datetime.datetime(2015, 10, 17, 8, 20, 23, 897000),),
 (datetime.datetime(2015, 5, 17, 22, 27, 46, 423000),),
 (datetime.datetime(2015, 1, 24, 11, 40, 29, 340000),),
 (datetime.datetime(2015, 1, 23, 12, 28, 59, 787000),),
 (datetime.datetime(2014, 12, 19, 15, 43, 20, 27000),),
 (datetime.datetime(2014, 11, 9, 20, 49, 50, 387000),),
 (datetime.datetime(2014, 10, 31, 21, 8, 40, 893000),),
 (datetime.datetime(2014, 10, 31, 8, 11, 38, 393000),)]

## Zadanie 2
Wypisz id oraz title postów, które
* zostały napisane po 10 października 2018,
* w miesiącach od września do grudnia włącznie.
* ich title nie jest nullem,
* ich score jest nie niższy niż 9.

Wyniki posortuj alfabetycznie wg tytułów.

In [5]:
%%sql
SELECT id, title FROM
    posts p
WHERE
    p.creationdate::date > '10.10.2018'
    AND EXTRACT(month FROM p.creationdate) >= 9
    AND p.title IS NOT NULL
    AND p.score >= 9
ORDER BY p.title;

 * postgresql://domin:***@localhost/domin
16 rows affected.

[(11218, 'Alexander Grothendieck\'s "stolen" correspondence in 1985?'),
 (11274, 'Are there theorems that have been truly lost?'),
 (11268, 'Did Benjamin Franklin know calculus?'),
 (7789, 'How did early scientists know if a current was changing direction? (AC vs. DC)'),
 (7974, 'Notation for Christoffel symbols'),
 (11051, 'Seven bridges of Königsberg - did people know that it was impossible?'),
 (7943, 'What are natural science concepts that were once thought the same, but grew to be distinguished?'),
 (9975, 'What was the relationship between Einstein and Minkowski?'),
 (7805, 'When and why did $\\frac{dy}{dx}$ become $\\frac{d}{dx}y$?'),
 (11106, "Where are Pierre Samuel's videos of Bourbaki proceedings available?"),
 (11057, 'Who discovered the covering homomorphism between SU(2) and SO(3)?'),
 (11235, 'Who started calling the matrix multiplication "multiplication"?'),
 (11111, 'Who was the first to weigh chemical reaction products?'),
 (8109, 'Why are X and Y commonly used as mathematical placeholders?'),
 (11089, 'Why do many names of technical and scientific subjects end with "ics"?'),
 (11295, 'Why volt instead of volta?')]

## Zadanie 3 
Wypisz displayname oraz reputation użytkowników, którzy są właścicielami posta spełniającego oba poniższe warunki:
* w treści posta występuje fragment `deterministic`,
* do posta napisano komentarz, w którego tekście występuje fragment `deterministic`.

Zadbaj, aby wyniki się nie powtarzały oraz były posortowane malejąco wg reputacji.

In [6]:
%%sql
SELECT DISTINCT u.displayname, u.reputation FROM
    users u
    JOIN posts p ON u.id = p.owneruserid 
    JOIN comments c on p.id = c.postid
WHERE
    p.body LIKE '%deterministic%'
    AND c.text LIKE '%deterministic%'
ORDER BY u.reputation desc;

 * postgresql://domin:***@localhost/domin
2 rows affected.

[('Cicero', 441), ('forest', 161)]

## Zadanie 4
Wypisz `displayname` osób, które nigdy nie napisały żadnego komentarza ale napisały jakiś post. Zadbaj, aby wyniki się nie powtarzały oraz były posortowane alfabetycznie. Wypisz tylko pierwsze 10 krotek

In [10]:
%%sql
SELECT DISTINCT u.displayname FROM
    users u
    JOIN posts p ON u.id = p.owneruserid
WHERE
    u.id NOT IN
        (SELECT userid FROM comments WHERE userid IS NOT NULL)
ORDER BY u.displayname
LIMIT 10;

 * postgresql://domin:***@localhost/domin
10 rows affected.

[('147pm',),
 ('3nondatur',),
 ('AbdElWadoud',),
 ('Abhijit A J',),
 ('ADG',),
 ('Adhesh Sagar',),
 ('Adriana Carelli',),
 ('agb',),
 ('AHK',),
 ('ahulpke',)]